*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 11px;
}

.slider-container {
  width: min(780px, 100% - 2rem);
  margin: 5% auto;
  /* border: 2px solid red;   */

  display: flex;
  align-items: center;
}

p {
  flex: 0.3;
}

.splide__arrows {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;

  pointer-events: none;
}

.splide__arrow {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 5px;
  color: white;
  pointer-events: all;
  border: none;
  cursor: pointer;
}
.splide__arrow:hover {
  background: rgba(0, 0, 0, 0.3);
}

.arrow-prev {
  transform: translate(-1px, 1px);
}
.arrow-next {
  transform: translate(1px, 1px);
}

.splide__pagination {
  /* background: red; */
  /* color: white; */

  position: absolute;
  bottom: 10%;
  left: 15%;
}

.splide__pagination li {
  width: .7rem;
  height: .7rem;
  margin: 5px !important;
}

.splide__pagination__page {
  width: 100%;
  height: 100%;
  background: #ccc;
  border: none;
  border-radius: 50%;
  opacity: .5;
  cursor: pointer;
}

.splide__pagination__page.is-active {
  background: white;
  opacity: 1;
}
